{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="user_delete">
        Уверены, что хотите удалить {{ areas_to_delete.username }}
        {% if areas_to_delete.first_name %}
                    ({{ areas_to_delete.first_name|title }}</b>
                    {% if areas_to_delete.last_name %}
                        {{ areas_to_delete.last_name|title }}
                    {% endif %})
                {% endif %}?
        <form action="{% url 'admin:areas_delete' areas_to_delete.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin:areas' areas_to_delete.kindergarden.pk%}">отмена</a>
        </button>
    </div>
{% endblock %}